.button {
  display: inline-block;
  width: 100%;
  color: color("pog-second");
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: inherit;
}

.button--arguments {
  padding: 23px 23px 22px;
  font-size: fs("mob-medium");
  line-height: lh("small");
  font-weight: fw("bold");
  border-radius: 10px;
}

.button__color--yellow {
  background-color: color("pog-special-first");

  &:focus,
  &:hover {
    background-color: color("pog-special-second");
    transition: all 0.3s;
  }
}

.button__next-step:active .button__text-active {
  opacity: 0.3;
  transition: all 0.3s;
}

.button__next-step--arguments {
  padding: 7px 0 3px;
  width: 100%;
  font-size: fs("mob-basic-plus");
  line-height: lh("wery-large");
  font-weight: fw("bold");
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet) {
  .button--arguments {
    padding: 29px 32px 27px;
    font-size: fs("medium");
    line-height: lh("medium-plus");
    border-radius: 20px;
  }
}
