.companions {
  background-color: color("pog-first");
  border-radius: 0 0 40px 40px;
  margin-top: -60px;
  z-index: 9;
  position: relative;

  @include bg-color(color("pog-first", 0));
}

.companions .wrapper {
  padding: 128px 25px 34px;
  box-sizing: border-box;
  position: relative;
}

.companions__back-image-one {
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 94px;
    right: 25px;
    width: 143px;
    height: 143px;
    background-image: url("../img/companions/back-image/smolov-back-mob.jpg");
    border-radius: 11px;
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    top: 94px;
    left: 0;
    width: 113px;
    height: 132px;
    background-color: color("pog-back-decorate");
    border-radius: 0 10px 10px 0;
    z-index: 10;
  }
}

.companions__title {
  position: relative;
  font-size: fs("medium");
  line-height: lh("medium-plus");
  font-weight: fw("bold");
  color: color("pog-special-third");
  margin: 0 0 20px;
  padding-left: 25px;
  z-index: 11;
}

.companions__text-type-one {
  margin-bottom: 25px;
  padding: 0 25px;
  position: relative;
  z-index: 11;
}

.companions__text-type-two {
  margin-bottom: 54px;
  padding: 0 25px;
}

.companions__cards-item:not(:last-child) {
  margin-bottom: 10px;
}

.companions__cards-list {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  border-radius: 10px;
}

.companions__show-all {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    right: 23px;
    border-left: 10px solid color("pog-second");
    border-bottom: 7.5px solid transparent;
    border-top: 7.5px solid transparent;
  }

  &:active .companions__show-all--text {
    opacity: 0.3;
    transition: all 0.3s;
  }

  &:active::before {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

@media (min-width: $tablet) {
  .companions {
    border-radius: 0 0 60px 60px;
  }

  .companions .wrapper {
    padding: 201px 75px 87px;
  }

  .companions__back-image-one {
    &::before {
      top: 486px;
      left: 40px;
    }

    &::after {
      top: 131px;
      left: 40px;
      width: 212px;
      height: 212px;
      border-radius: 20px;
    }
  }

  .companions__title {
    font-size: fs("very-big");
    line-height: lh("giant");
    margin-bottom: 55px;
    padding: 0;
    z-index: 11;
  }

  .companions__text-type-one {
    margin-bottom: 39px;
    padding: 0;
    max-width: 430px;
  }

  .companions__text-type-two {
    position: relative;
    margin-bottom: 59px;
    padding: 0;
    z-index: 11;
    max-width: 260px;
  }

  .companions__cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 11;
    margin: 0;
    margin-bottom: 81px;
    padding: 0;
    border-radius: 10px;
  }

  .companions__show-all {
    &::before {
      position: absolute;
      content: "";
      top: 33px;
      right: 35px;
    }
  }
}

@media (min-width: $desktop) {
  .companions .wrapper {
    padding: 190px 60px 134px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content max-content 90px;
  }

  .companions__back-image-one {
    &::before {
      top: 190px;
      left: 547px;
    }

    &::after {
      top: 131px;
      left: 60px;
    }
  }

  .companions__title {
    padding-left: 75px;
    z-index: 11;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .companions__text-type-one {
    margin-bottom: 42px;
    padding-left: 75px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .companions__text-type-two {
    margin-bottom: 85px;
    padding-left: 75px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .companions__cards-list {
    margin-bottom: 0;
    margin-left: 30px;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }

  .companions__show-all {
    margin-left: 75px;
    margin-bottom: 10px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 80px;
    width: 280px;
    z-index: 11;
  }
}
