.country-info {
  background-color: color("pog-clear");
  box-sizing: border-box;
  padding: 27px 24px 21px;
  border-radius: 10px;
  margin-top: -12px;
  position: relative;
  z-index: 10;
}

.country-info--thailand {
  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 47px;
    background-image: url("../img/flags/thailand.png");
  }
}

.country-info--france {
  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 47px;
    background-image: url("../img/flags/france.png");
  }
}

.country-info--czech {
  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 47px;
    background-image: url("../img/flags/czechia.png");
  }
}

.country-info__name {
  font-size: fs("basic-plus");
  line-height: lh("basic-plus");
  font-weight: fw("bold");
  color: color("pog-standart");
  margin: 0;
  margin-bottom: 2px;
}

.country-info__tagline {
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("medium");
  color: color("pog-special");
  opacity: 0.3;
  margin: 0;
}

.country-info__users-count {
  font-size: fs("mob-basic");
  line-height: lh("basic");
  font-weight: fw("medium");
  color: color("pog-main");
  opacity: 0.3;
  position: absolute;
  top: 28px;
  right: 24px;
  min-width: 43px;

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 3px;
    left: -17px;
    background-image: url("../img/directions/4el.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
  }
}

@media (min-width: $tablet) {
  .country-info {
    padding: 30px 26px 20px;
    border-radius: 20px 0 0 20px;
    margin: 0;
    position: relative;
    z-index: 10;
  }

  .country-info__name {
    font-size: fs("medium");
    line-height: lh("medium-plus");
  }

  .country-info__tagline {
    font-size: fs("basic");
    line-height: lh("basic");
    max-width: 170px;
  }

  .country-info__users-count {
    font-size: fs("basic");
    top: auto;
    bottom: 21px;
    right: auto;
    left: 55px;


    &::before {
      top: 3px;
      left: -26px;
      transform: scale(1.8);
    }
  }
}

@media (min-width: $desktop) {
  .country-info {
    padding: 30px 30px 26px;
  }

  .country-info__tagline {
    max-width: 230px;
  }
}
