.counrty-select {
  box-sizing: border-box;
}

.country-select__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.country-select__item {
  display: flex;
  position: relative;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover .country-select__name-wrapper,
  &:hover .country-select__flag {
    border: solid 1px color("pog-extra-dark");
    transition: all 0.3s;
  }

  &:hover .country-select__name-wrapper--dropdown {
    border: solid 1px color("pog-second");
  }
}

.country-select__selected {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 50px;
    width: 8px;
    height: 8px;
    background-color: color("pog-second");
    z-index: 15;
    border-radius: 50%;
  }
}

.country-select__pick {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 50px;
    width: 7px;
    height: 7px;
    background-color: transparent;
    z-index: 15;
    border-radius: 50%;
    border: 1px solid color("pog-extra-four");
  }
}

.country-select__remove {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  background-color: color("pog-back-light");
  cursor: pointer;
  outline: none;
  z-index: 20;

  &:hover .country-select__cross-image {
    opacity: 0.7;
    transition: all 0.3s;
  }

  &:active .country-select__cross-image {
    opacity: 0.1;
    transition: all 0.3s;
  }
}

.country-select__cross-image {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  stroke: color("pog-main");
  opacity: 0.3;
}

.country-select__name-wrapper {
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid color("pog-extra-four");
  position: relative;
}

.country-select__name {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  font-size: fs("mob-small");
  font-weight: fw("medium");
  line-height: lh("small");
  color: color("pog-second");
  letter-spacing: 1.4px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.country-select__button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 18px;
  padding: 25px 20px 17px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, color("pog-grad") 0%, color("pog-clear") 20%, color("pog-clear") 100%);
  }

  &:hover .country-select__button-image {
    opacity: 0.5;
    transition: all 0.3s;
  }

  &:active .country-select__button-image {
    opacity: 0.1;
    transition: all 0.3s;
  }

  &:hover .country-select__button-image--dropdown {
    opacity: 1;
    transition: all 0.3s;
  }

  &:active .country-select__button-image--dropdown {
    opacity: 0.1;
    transition: all 0.3s;
  }
}

.country-select__button-new {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 18px;
  padding: 25px 20px 17px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover .country-select__button-new-image {
    opacity: 0.5;
    transition: all 0.3s;
  }

  &:active .country-select__button-new-image {
    opacity: 0.1;
    transition: all 0.3s;
  }
}

.country-select__button-image {
  display: block;
  position: absolute;
  top: 13px;
  right: 14px;
  width: 9px;
  height: 18px;
  fill: color("pog-standart");
  opacity: 0.3;
  transform: rotate(-90deg);
  z-index: 11;
}

.country-select__flag-wrapper {
  margin-left: -1px;
}

.country-select__flag {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: 53px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid color("pog-extra-four");
  background-color: color("pog-clear");

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -8px;
    z-index: 10;
    width: 71px;
    height: 48px;
    background-repeat: no-repeat;
    transform: scale(0.5);
  }
}

.country-select__new {
  background-color: color("pog-back-light");
  border-radius: 4px;
  position: relative;

  &:hover .country-select__name-wrapper--new {
    background-color: color("pog-extra-third");
    border: solid 1px color("pog-extra-third");
    transition: all 0.3s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 50px;
    width: 7px;
    height: 7px;
    background-color: transparent;
    z-index: 15;
    border-radius: 50%;
    border: 1px solid color("pog-extra-four");
  }
}

.country-select__name-wrapper--new {
  border: 1px solid color("pog-back-light");
}

.country-select__button-new-image {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 14px;
  height: 14px;
  stroke: color("pog-standart");
  opacity: 0.3;
}

.country-select__flag--bosnia {
  &::before {
    background-image: url("../img/flags/bosnia_and_herzegovina.png");
  }
}

.country-select__flag--czech {
  &::before {
    background-image: url("../img/flags/czechia.png");
  }
}

.country-select__arrow-image {
  width: 9px;
  height: 12px;
  position: absolute;
  top: 49px;
  right: 50px;
  fill: color("pog-extra-four");
}

.country-select__name-wrapper--dropdown {
  border: 1px solid color("pog-second");
  border-radius: 4px 4px 0 0;
  z-index: 16;
  position: relative;
  overflow: visible;

  & .country-select__button::after {
    display: none;
  }

  & .country-select__name {
    color: color("pog-clear");
    background-color: color("pog-second");
  }

  & .country-select__button-image {
    display: none;
  }

  & .country-select__button-image--dropdown {
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
    width: 12px;
    height: 12px;
    stroke: color("pog-clear");
    opacity: 0.3;
  }

  & + .country-select__remove {
    display: none;
  }
}

.country-select__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 42px;
  left: -1px;
  width: 100%;
  height: fit-content;
  background-color: color("pog-clear");
  border-radius: 0 0 4px 4px;
  border: 1px solid color("pog-extra-four");
}

.country-select__dropdown--hide {
  display: none;
}

.country-select__abc-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.country-select__abc-item--selected {
  background-color: color("pog-back-light");
}

.country-select__abc-item:nth-child(5n) .country-select__abc-link {
  margin-right: -2px;
  width: 42px;
}

.country-select__abc-link {
  text-decoration: none;
  color: color("pog-second");
  font-weight: fw("medium");
  font-size: fs("mob-small");
  line-height: lh("small");
  text-transform: uppercase;
  width: 43px;
  height: 42px;
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid color("pog-extra-four");
  position: relative;

  &:active {
    background-color: color("pog-second");
    border: 1px solid color("pog-second");
    color: color("pog-clear");
    z-index: 30;
    transition: all 0.3s;
  }

  &:hover {
    border: 1px solid color("pog-extra-dark");
    z-index: 30;
    transition: all 0.3s;
  }
}

.country-select__names-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;
}

.country-select__name-item {
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.country-select__name-link {
  text-decoration: none;
  color: color("pog-special");
  font-weight: fw("normal");
  font-size: fs("mob-basic");
  line-height: lh("medium");

  &:hover {
    color: color("pog-second");
    transition: all 0.3s;
  }

  &:active {
    color: color("pog-second");
    transition: all 0.3s;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .country-select__list {
    margin-bottom: 50px;
    padding-top: 42px;
    border-top: 1px solid color("pog-special-lighter");
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 142px;
      width: 1px;
      height: 110%;
      background: linear-gradient(180deg, color("pog-special-lighter") 0%, color("pog-special-lighter") 85%, color("pog-clear") 100%);
    }
  }

  .country-select__item {
    width: 369px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover .country-select__flag {
      border: none;
    }
  }

  .country-select__flag-wrapper {
    margin: 0;
    width: 0;
  }

  .country-select__name {
    padding: 26px 25px 22px;
    font-size: fs("basic");
    line-height: lh("basic");
    letter-spacing: 2px;
    box-sizing: border-box;
  }

  .country-select__button,
  .country-select__button-new {
    width: 9px;
    height: 18px;
    padding: 35px;

    &::after {
      display: none;
    }
  }

  .country-select__button-image {
    display: block;
    position: absolute;
    top: 27px;
    right: 28px;
    width: 10px;
    height: 17px;
  }

  .country-select__button-new-image {
    top: 25px;
    left: auto;
    right: 23px;
    width: 21px;
    height: 21px;
  }

  .country-select__arrow-image {
    display: none;
  }

  .country-select__flag {
    padding: 0;
    width: 100%;
    height: 70px;
    border: none;

    &::before {
      top: 12px;
      left: 52px;
      transform: scale(1);
    }
  }

  .country-select__selected {
    &::before {
      top: 27px;
      right: -34px;
      width: 14px;
      height: 14px;
      background-color: color("pog-second");
    }
  }

  .country-select__pick {
    &::before {
      top: 27px;
      right: -34px;
      width: 12px;
      height: 12px;
      background-color: color("pog-clear");
    }
  }

  .country-select__new {
    background-color: color("pog-extra-third");

    &::before {
      top: 27px;
      right: -34px;
      width: 12px;
      height: 12px;
      background-color: color("pog-back-light");
    }
  }

  .country-select__remove {
    top: 25px;
    right: -170px;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }

  .country-select__cross-image {
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    opacity: 0.1;
  }

  .country-select__dropdown {
    flex-direction: row;
    top: 69px;
    width: 575px;
    box-sizing: border-box;
    border-radius: 0 4px 4px 4px;
    border-color: color("pog-clear");
    box-shadow: 0 8px 16px color("pog-popup-shadow");
  }

  .country-select__abc-list {
    width: 368px;
    padding: 35px  79px 35px 27px;
    box-sizing: border-box;
    align-content: flex-start;
  }

  .country-select__abc-item:nth-child(5n) .country-select__abc-link {
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    width: 51px;
  }

  .country-select__abc-link {
    font-size: fs("basic");
    line-height: lh("basic");
    width: 51px;
    height: 66px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
  }

  .country-select__names-list {
    padding: 38px 25px;
    border-left: 1px solid color("pog-extra-third");
  }

  .country-select__name-item {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  .country-select__name-link {
    font-size: fs("basic");
    line-height: lh("basic");
  }

  .country-select__name-wrapper--dropdown {
    & .country-select__button-image--dropdown {
      display: block;
      position: absolute;
      top: 23px;
      right: 22px;
      width: 22px;
      height: 22px;
      stroke: color("pog-clear");
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop) {
  .country-select__list {
    margin-bottom: 58px;
    padding-top: 62px;

    &::after {
      right: 225px;
      height: 540px;
      background: color("pog-special-lighter");
    }
  }

  .country-select__item {
    width: 730px;
  }

  .country-select__button-image {
    top: 25px;
    right: 28px;
    width: 13px;
    height: 20px;
  }

  .country-select__selected {
    &::before {
      right: -52px;
    }
  }

  .country-select__pick {
    &::before {
      right: -52px;
    }
  }

  .country-select__new {
    &::before {
      right: -52px;
    }
  }

  .country-select__remove {
    top: 24px;
    right: -270px;
  }

  .country-select__flag {
    &::before {
      top: 12px;
      left: 85px;
    }
  }

  .country-select__dropdown {
    width: 730px;
    border-radius: 0 0 4px 4px;
  }

  .country-select__abc-list {
    width: 489px;
    padding: 32px  88px 22px 26px;
  }

  .country-select__abc-item {
    margin-right: 14px;
    margin-bottom: 14px;
  }

  .country-select__abc-item:nth-child(5n) .country-select__abc-link {
    margin: 0;
    width: 58px;
  }

  .country-select__abc-link {
    width: 58px;
    height: 68px;
    margin: 0;
    border-radius: 4px;
  }

  .country-select__names-list {
    padding: 35px 25px;
  }

  .country-select__name-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
