.directions {
  background-color: color("pog-extra");
  border-radius: 0 0 40px 40px;
  margin-top: -60px;
  z-index: 10;
  position: relative;

  @include bg-color(color("pog-extra", 0));
}

.directions .wrapper {
  padding: 0 25px;
  box-sizing: border-box;
}

.directions__title {
  font-size: fs("medium");
  line-height: lh("medium-plus");
  font-weight: fw("bold");
  color: color("pog-special-third");
  margin: 0 0 20px;
  padding-left: 25px;
  padding-top: 130px;
}

.directions__text-type-one {
  margin-bottom: 60px;
  padding: 0 25px;
}

.directions__image {
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 5;
}

.directions__list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  box-sizing: border-box;
}

.directions__item:not(:last-child) {
  margin-bottom: 10px;
}

.directions__show-all {
  margin-bottom: 34px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    right: 21px;
    border-left: 12px solid color("pog-second");
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
  }

  &:active .directions__show-all--text {
    opacity: 0.3;
    transition: all 0.3s;
  }

  &:active::before {
    opacity: 0.3;
    transition: all 0.3s;
  }
}
