.directions {
  background-color: color("pog-back-light");
  border-radius: 0 0 40px 40px;
  margin-top: -60px;
  z-index: 10;
  position: relative;

  @include bg-color(color("pog-back-light", 0));
}

.directions .wrapper {
  padding: 131px 25px 34px;
  box-sizing: border-box;
}

.directions__title {
  font-size: fs("medium");
  line-height: lh("medium-plus");
  font-weight: fw("bold");
  color: color("pog-special-third");
  margin: 0 0 20px;
  padding-left: 25px;
}

.directions__text-type-one {
  margin-bottom: 60px;
  padding: 0 25px;
}

.directions__image {
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 5;
}

.directions__list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  box-sizing: border-box;
}

.directions__item:not(:last-child) {
  margin-bottom: 10px;
}

.directions__country-info::before {
  transform: scale(0.5);
  top: -24px;
  left: 9px;
}

.directions__show-all {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    right: 23px;
    border-left: 10px solid color("pog-second");
    border-bottom: 7.5px solid transparent;
    border-top: 7.5px solid transparent;
  }

  &:active .directions__show-all--text {
    opacity: 0.3;
    transition: all 0.3s;
  }

  &:active::before {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

@media (min-width: $tablet) {
  .directions {
    border-radius: 0 0 60px 60px;
  }

  .directions .wrapper {
    padding: 133px 75px 80px;
  }

  .directions__show-all {
    &::before {
      top: 33px;
      right: 32px;
    }
  }

  .directions__title {
    font-size: fs("very-big");
    line-height: lh("giant");
    margin: 0 0 57px;
    padding: 0;
  }

  .directions__text-type-one {
    margin-bottom: 104px;
    padding: 0;
  }

  .directions__item {
    display: flex;
    flex-direction: row-reverse;
  }

  .directions__image {
    width: 185px;
    height: 140px;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
  }

  .directions__list {
    margin-bottom: 46px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -38px;
      left: -35px;
      width: 141px;
      height: 141px;
      background-color: color("pog-special-plus");
      border-radius: 20px;
    }
  }

  .directions__country-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &::before {
      transform: scale(1);
      top: 17px;
      left: auto;
      right: -35px;
    }
  }
}

@media (min-width: $desktop) {
  .directions .wrapper {
    padding: 221px 130px 138px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 80px;
    column-gap: 60px;
  }

  .directions__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 125px;
  }

  .directions__text-type-one {
    margin-left: 125px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .directions__show-all {
    margin-left: 125px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 275px;

    &::before {
      top: 33px;
      right: 32px;
    }
  }

  .directions__list {
    margin-bottom: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    &::before {
      top: -71px;
      left: -70px;
    }
  }
}
