.double-back {
  display: block;
  position: relative;
  background-color: color("pog-special-first");
  height: 30px;
  margin-top: -24px;
}

@media (min-width: $tablet) {
  .double-back {
    display: none;
  }
}
