.filter {
  position: relative;
  width: 100%;
  margin: -60px auto 0;
  border-radius: 0 0 20px 20px;
  background-color: color("pog-special-plus");
  box-sizing: border-box;
  z-index: 1;
}

.filter__by-country {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 60px 25px 0 25px;
}

.filter__inner-wrapper {
  position: relative;
}

.filter__title {
  position: relative;
  margin: 0;
  padding: 20px 20px 17px 25px;
  font-size: fs("mob-basic");
  font-weight: fw("bold");
  line-height: lh("small");
  color: color("pog-first");
  text-transform: uppercase;
}

.filter__image {
  position: absolute;
  top: 19px;
  left: -3px;
  width: 23px;
  height: 15px;
  transform: scale(0.7);
}

.filter__button {
  display: none;
  position: absolute;
  font-size: 0;
  line-height: 0;
  color: transparent;
  top: 13px;
  right: -2px;
  width: 17px;
  height: 17px;
  padding: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover .filter__button-image {
    opacity: 0.7;
    transition: all 0.3s;
  }

  &:active .filter__button-image {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.filter__button--show {
  display: block;
}

.filter__button-image {
  position: absolute;
  top: 13px;
  left: 7px;
  fill: color("pog-first");
}

.filter__country-index {
  position: relative;
  box-sizing: border-box;
  min-height: 600px;
}

.filter__country-index--closed {
  display: none;
}

.filter__country-index-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter__land-show {
  display: none;
}

.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.filter__land-list {
  padding: 0 25px;
  margin-bottom: 21px;
}

.filter__land-item {
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:hover .filter__land-link {
    opacity: 0.6;
    transition: all 0.3s;
  }

  &:hover .filter__land-link--selected {
    opacity: 1;
  }
}

.filter__land-link {
  font-size: fs("mob-basic");
  font-weight: fw("bold");
  line-height: lh("small");
  letter-spacing: normal;
  color: color("pog-first");
  text-transform: uppercase;
  opacity: 0.3;
  text-decoration: none;
  background-color: transparent;
}

.filter__land-link--selected {
  opacity: 1;
}

.filter__abc-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  margin-bottom: 14px;
}

.filter__abc-list--closed {
  display: none;
}

.filter__abc-item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: calc(100% / 5);
  background-color: color("pog-clear");
  border: 1px solid color("pog-extra-four");

  &:not(:nth-child(5n+1)) {
    margin-left: -1px;
  }

  &:not(:nth-child(-n+5)) {
    margin-top: -1px;
  }

  &::after {
    content: "";
    padding-top: 100%;
    display: block;
  }

  &:hover {
    border: 1px solid color("pog-extra-dark");
    transition: all 0.3s;
    z-index: 10;
  }

  &:active {
    background-color: color("pog-second");
    transition: all 0.3s;

    & .filter__abc-link {
      color: color("pog-clear");
    }
  }
}

.filter__abc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: fs("mob-small");
  font-weight: fw("medium");
  line-height: lh("small");
  color: color("pog-second");
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.filter__abc-item--selected {
  position: relative;
  border: 1px solid color("pog-second");
  background-color: color("pog-second");
}

.filter__abc-link--selected {
  color: color("pog-clear");
}

.filter__abc-names-list {
  position: absolute;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.filter__abc-names-list--selected {
  flex-wrap: wrap;
  max-height: 270px;
  top: 234px;
  left: 0;
}

.filter__abc-names-list--hide {
  display: none;
}

.filter__abc-names-item {
  &:hover .filter__abc-names-link {
    color: color("pog-second");
    transition: all 0.3s;
  }

  &:active .filter__abc-names-link {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.filter__abc-names-link {
  text-decoration: none;
  background-color: transparent;
  font-size: fs("mob-basic");
  font-weight: fw("normal");
  line-height: lh("medium");
  color: color("pog-special");
  white-space: nowrap;
}

.filter__button-wrapper {
  padding: 0 25px 28px;
  box-sizing: border-box;
}

.filter__button-wrapper--closed {
  display: none;
}

.filter__by-country-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px 5px;
  font-size: fs("mob-basic");
  line-height: lh("basic");
  font-weight: fw("bold");
  border-radius: 20px;
  text-transform: uppercase;
  font-family: inherit;
  background-color: color("pog-extra-plus");
  width: 100%;

  &:hover {
    background-color: color("pog-extra-cloud");
    transition: all 0.3s;
  }

  &:active {
    background-color: color("pog-extra-cloud");
    transition: all 0.3s;

    & .filter__by-country-button-image,
    & .filter__by-country-button-text {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }
}

.filter__by-country-button-image {
  stroke: color("pog-first");
  width: 22px;
  height: 24px;
  transform: scale(0.65);
  margin-bottom: 3px;
  margin-right: 5px;
}

@media (min-width: $tablet) {
  .filter {
    margin: -60px auto 0;
    border-radius: 0 0 60px 60px;
    z-index: 1;
  }

  .filter .wrapper {
    padding: 123px 75px 58px;
    box-sizing: border-box;
  }

  .filter__by-country {
    width: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .filter__inner-wrapper {
    display: none;
  }

  .filter__land-show {
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: fs("basic");
    line-height: lh("basic");
    font-weight: fw("bold");
    text-transform: uppercase;
    color: color("pog-first");
    cursor: pointer;

    &:hover {
      opacity: 0.6;
      transition: all 0.3s;
    }

    &:active {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }

  .filter__land-hide-text {
    display: flex;
    align-items: flex-start;
    width: 170px;
  }

  .filter__land-hide-image {
    stroke: color("pog-first");
    width: 22px;
    height: 24px;
    transform: scale(1.1);
    position: absolute;
    right: -3px;
    top: -3px;
  }

  .filter__land-show-text {
    display: none;
    align-items: flex-start;
    width: 180px;
  }

  .filter__land-show-image {
    position: absolute;
    right: -3px;
    top: 6px;
    fill: color("pog-first");
  }

  .filter__country-index {
    min-height: auto;
  }

  .filter__country-index--closed {
    display: block;
  }

  .filter__land-list {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }

  .filter__land-item {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 28px;
    }
  }

  .filter__land-link {
    font-size: fs("basic");
    line-height: lh("basic");
  }

  .filter__abc-list {
    padding: 0;
    padding-top: 53px;
    width: 387px;
    margin-left: -20px;
    margin-bottom: 55px;
  }

  .filter__abc-item {
    background-color: transparent;
    border: none;
    opacity: 0.3;

    &:not(:nth-child(5n+1)) {
      margin-left: 0;
    }

    &:not(:nth-child(-n+5)) {
      margin-top: 0;
    }

    &::after {
      padding-top: 106%;
    }

    &:hover {
      border: none;
      opacity: 1;
    }

    &:hover .filter__abc-link {
      border: none;
      opacity: 0.6;
    }

    &:hover .filter__abc-link--selected {
      border: none;
      opacity: 1;
    }

    &:active {
      background-color: transparent;
      opacity: 1;

      & .filter__abc-link {
        color: color("pog-second");
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }

  .filter__abc-link {
    font-size: fs("wery-big");
    font-weight: fw("bold");
    line-height: lh("very-giant");
  }

  .filter__abc-item--selected {
    border: none;
    background-color: transparent;
    opacity: 1;
  }

  .filter__abc-link--selected {
    color: color("pog-second");
  }

  .filter__abc-names-list--selected {
    max-height: max-content;
    top: 5px;
    left: 465px;
  }

  .filter__abc-names-item {
    &:hover .filter__abc-names-link {
      color: color("pog-second");
      transition: all 0.3s;
    }

    &:active .filter__abc-names-link {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }

  .filter__abc-names-link {
    font-size: fs("basic");
    line-height: lh("wery-large");
  }

  .filter__button-wrapper {
    padding: 0;
  }

  .filter__by-country-button {
    padding: 38px 25px 35px;
    font-size: fs("basic");
  }

  .filter__by-country-button-image {
    stroke: color("pog-first");
    width: 22px;
    height: 24px;
    transform: scale(1.2);
    margin-bottom: 3px;
    margin-right: 21px;
  }
}

@media (min-width: $desktop) {
  .filter {
    background-color: color("pog-back-light");
  }

  .filter .wrapper {
    padding: 121px 60px 108px;
  }

  .filter__by-country {
    padding: 0 20px;
  }

  .filter__inner-wrapper {
    display: block;
    margin-bottom: 56px;
  }

  .filter__title {
    padding: 0;
    padding-left: 44px;
    font-size: fs("basic");
    line-height: lh("basic");
  }

  .filter__image {
    top: 0;
    left: 0;
    width: 23px;
    height: 15px;
    transform: scale(1);
  }

  .filter__button--show {
    display: none;
  }

  .filter__country-index-inner-wrapper {
    display: flex;
    position: absolute;
    top: -76px;
    right: 0;
    width: 75%;
  }

  .filter__country-index--closed {
    display: none;
  }

  .filter__land-list {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }

  .filter__land-item {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 33px;
    }
  }

  .filter__abc-list {
    padding: 15px;
    margin: 0;
    width: 100%;
  }

  .filter__abc-item {
    background-color: transparent;
    border: none;
    opacity: 1;
    flex-direction: column;
    margin-bottom: 47px;

    &:not(:nth-child(5n+1)) {
      margin-left: 0;
    }

    &:not(:nth-child(-n+5)) {
      margin-top: 0;
    }

    &::after {
      display: none;
    }

    &:hover {
      border: none;
      opacity: 1;
    }

    &:hover .filter__abc-link {
      border: none;
      opacity: 1;
    }

    &:hover .filter__abc-link--selected {
      border: none;
      opacity: 1;
    }
  }

  .filter__abc-link {
    justify-content: flex-start;
    align-items: flex-start;
    pointer-events: none;
    height: auto;
    margin-bottom: 23px;
  }

  .filter__abc-names-list {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .filter__abc-names-list--hide {
    display: flex;
    flex-direction: column;
  }

  .filter__abc-names-list--selected {
    max-height: max-content;
    top: auto;
    left: auto;
  }

  .filter__abc-names-item {
    &:hover .filter__abc-names-link {
      color: color("pog-second");
      transition: all 0.3s;
    }

    &:active .filter__abc-names-link {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }

  .filter__abc-names-link {
    font-size: fs("basic");
    line-height: lh("wery-large");
  }

  .filter__button-wrapper {
    padding: 0;
  }

  .filter__by-country-button {
    padding: 38px 25px 35px;
    font-size: fs("basic");
  }

  .filter__by-country-button-image {
    stroke: color("pog-first");
    width: 22px;
    height: 24px;
    transform: scale(1.2);
    margin-bottom: 3px;
    margin-right: 21px;
  }
}
