.navigate__user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 68px;
  box-sizing: border-box;
}

.navigate__user-link {
  font-size: fs("very-large");
  line-height: lh("wery-big");
  font-weight: fw("medium");
  color: color("pog-first");
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
    transition: all 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.navigate__login-button {
  text-decoration: none;
  color: color("pog-main");
  font-weight: fw("bold");
  font-size: fs("mob-basic-plus");
  line-height: lh("basic");
  background-color: color("pog-special-first");
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 14px 39px 8px;
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
  border: none;

  &:hover {
    background-color: color("pog-special-second");
    transition: all 0.3s;
  }

  &:active .navigate__login-text {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.navigate__contact-list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 51px;
}

.navigate__contact-item {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.navigate__phone-number,
.navigate__mail-text {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: color("pog-first");
  font-size: fs("mob-basic");
  line-height: lh("medium");
  font-weight: fw("bold");
}

.navigate__nav-phone {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;

  &:hover .navigate__phone-number,
  &:hover .navigate__phone-image {
    color: color("pog-third");
    fill: color("pog-special-second");
    transition: all 0.3s;
  }

  &:active .navigate__phone-image,
  &:active .navigate__phone-number {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.navigate__nav-mail {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover .navigate__mail-text,
  &:hover .navigate__mail-image {
    color: color("pog-third");
    fill: color("pog-special-second");
    transition: all 0.3s;
  }

  &:active .navigate__mail-text,
  &:active .navigate__mail-image {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.navigate__phone-wrapper,
.navigate__mail-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: color("pog-main");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.navigate__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: color("pog-clear");
  fill: color("pog-main");

  &:hover {
    opacity: 0.6;
    transition: all 0.3s;
  }

  &:active .navigate__social-link-insta {
    opacity: 0.3;
    transition: all 0.3s;
  }

  &:active .navigate__social-link-vk {
    opacity: 0.3;
    transition: all 0.3s;
  }

  &:active .navigate__social-link-fb {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.navigate__social-link-fb {
  fill: color("pog-main");
  width: 11px;
  height: 21px;
}

.navigate__social-link-vk {
  fill: color("pog-main");
  width: 23px;
  height: 12px;
}

.navigate__social-link-insta {
  fill: color("pog-main");
  width: 18px;
  height: 18px;
}

@media (min-width: $tablet) {
  .navigate__user-list {
    align-items: flex-start;
    width: 100%;
    margin: 0;
    margin-bottom: 126px;
    padding-top: 95px;
    padding-left: 57px;
  }

  .navigate__user-link {
    font-size: fs("wery-big");
    line-height: lh("wery-giant");
  }

  .navigate__login-button {
    display: none;
  }

  .navigate__contact-list {
    margin-bottom: 114px;
    padding: 0 0 0 57px;
  }

  .navigate__phone-wrapper,
  .navigate__mail-wrapper {
    width: 68px;
    height: 68px;
  }

  .navigate__phone-image {
    width: 27px;
    height: 26px;
  }

  .navigate__mail-image {
    width: 28px;
    height: 19px;
  }

  .navigate__phone-number,
  .navigate__mail-text {
    font-size: fs("large");
    line-height: lh("very-large");
    margin-left: 22px;
    padding-top: 8px;
  }

  .navigate__social-list {
    margin: 0;
    padding: 0;
    padding-left: 57px;
    justify-content: flex-start;
  }

  .navigate__social-link {
    width: 62px;
    height: 62px;
  }

  .navigate__social-link-fb {
    width: 11px;
    height: 25px;
  }

  .navigate__social-link-vk {
    width: 25px;
    height: 15px;
  }

  .navigate__social-link-insta {
    width: 20px;
    height: 20px;
  }
}
