.page-footer {
  background-color: color("pog-clear");
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  z-index: 20;
  position: relative;
}

.page-footer__wrapper {
  padding: 38px 25px 18px;
  box-sizing: border-box;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.page-footer__logo-image {
  width: 96px;
  height: 15px;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: color("pog-special-first");

  &:hover {
    background-color: color("pog-special-second");
  }

  &:active .page-footer__social-link-insta {
    opacity: 0.3;
  }

  &:active .page-footer__social-link-vk {
    opacity: 0.3;
  }

  &:active .page-footer__social-link-fb {
    opacity: 0.3;
  }
}

.page-footer__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__devby-image {
  fill: color("pog-main");
}

.page-footer__devby-text {
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("normal");
  color: color("pog-special");
  margin: 0;
}

.page-footer__devby-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  border-top: 1px solid color("pog-back-light");
  padding-top: 14px;

  &:hover .page-footer__devby-text,
  &:hover .page-footer__devby-image {
    opacity: 0.6;
    transition: all 0.3s;
  }

  &:active .page-footer__devby-text,
  &:active .page-footer__devby-image {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

@media (min-width: $tablet) {
  .page-footer {
    border-radius: 60px 60px 0 0;
    margin-top: -90px;
  }

  .page-footer__wrapper {
    padding: 46px 40px 32px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__devby-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    width: auto;
    border-top: none;
    padding: 0;

    &:hover .page-footer__devby-text,
    &:hover .page-footer__devby-image {
      opacity: 0.6;
      transition: all 0.3s;
    }

    &:active .page-footer__devby-text,
    &:active .page-footer__devby-image {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }

  .page-footer__devby-text {
    font-size: fs("basic");
    line-height: lh("basic");
    font-weight: fw("normal");
    color: color("pog-special");
    margin-right: 24px;
  }

  .page-footer__social-list {
    margin: 0;
    align-items: center;
  }

  .page-footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
  }

  .page-footer__social-link-insta,
  .page-footer__social-link-vk,
  .page-footer__social-link-fb {
    transform: scale(1.2);
  }

  .page-footer__logo {
    align-items: center;
    margin: 0;
  }

  .page-footer__logo-image {
    width: 164px;
    height: 42px;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    border-radius: 60px 60px 0 0;
    margin-top: -90px;
  }

  .page-footer__wrapper {
    padding: 47px 60px 43px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo-image {
    width: 200px;
    height: 55px;
  }

  .page-footer__devby-link {
    width: 200px;
  }
}
