.preview-profile {
  margin-top: -60px;
  background-color: color("pog-back-light");
}

.preview-profile .wrapper {
  padding: 80px 25px 64px;
  box-sizing: border-box;
}

.preview-profile__lvl-photo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding: 0 19px;
}

.preview-profile__level-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.preview-profile__level-progress-bar {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.preview-profile__lvl-stroke {
  stroke: color("pog-special-third");
  stroke-linecap: round;
  stroke-width: 3;
  fill: none;
}

.preview-profile__photo-wrapper {
  box-sizing: border-box;
}

.preview-profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  max-width: 100%;
  vertical-align: top;
}

.preview-profile__button-wrapper {
  margin: 0 auto;
  margin-bottom: 33px;
  box-sizing: border-box;
  width: 270px;
}

.preview-profile__button {
  display: inline-block;
  appearance: none;
  border: none;
  border-radius: 30px;
  background-color: color("pog-extra");
  width: 100%;
  box-sizing: border-box;
  padding: 14px 25px 10px;
  color: color("pog-second");
  font-family: inherit;
  font-size: fs("basic");
  line-height: lh("small");
  font-weight: fw("medium");
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: color("pog-extra-second");
    transition: all 0.3s;
  }

  &:active {
    background-color: color("pog-extra");

    & .preview-profile__button-text {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }
}

.preview-profile__transport-item {
  &:hover .transport--my-transport {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

@media (min-width: $tablet) {
  .preview-profile .wrapper {
    padding: 126px 75px 88px;
    position: relative;
  }

  .preview-profile__lvl-photo-wrapper {
    margin-bottom: 51px;
    padding: 0;
  }

  .preview-profile__img {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  .preview-profile__button-wrapper {
    margin: 0;
    margin-bottom: 52px;
    width: 100%;
  }

  .preview-profile__button {
    border-radius: 10px;
    padding: 14px 25px 10px;
    height: 60px;
    letter-spacing: 0.1em;
  }

  .preview-profile__transport-item {
    width: 44px;
    height: 44px;
  }
}

@media (min-width: $desktop) {
  .preview-profile .wrapper {
    padding: 60px 60px 97px 125px;
    display: grid;
    grid-template-columns: auto 384px;
    column-gap: 140px;
    grid-template-rows: auto auto;
  }

  .preview-profile__lvl-photo-wrapper {
    display: none;
  }

  .preview-profile__img {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  .preview-profile__button-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0 0 27px;
    display: flex;
    justify-content: center;
  }

  .preview-profile__button {
    border-radius: 0 0 10px 10px;
    padding: 16px 25px 12px;
    height: 47px;
    width: 190px;
    letter-spacing: 0.01em;
  }

  .preview-profile__tags {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .preview-profile__my-transport {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .preview-profile__transport-item {
    width: 44px;
    height: 44px;
  }

  .preview-profile__button-text--hidden {
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}
