.rate {
  background-color: color("pog-extra");
  border-radius: 0 0 40px 40px;
  margin-top: -60px;
  z-index: 8;
  position: relative;

  @include bg-color(color("pog-extra", 0));
}

.rate .wrapper {
  padding: 0 25px 38px;
  box-sizing: border-box;
  position: relative;
}

.rate__titile-wrapper {
  display: flex;
  padding-top: 130px;
  margin-bottom: 43px;
}

.rate__title {
  font-size: fs("medium");
  line-height: lh("medium-plus");
  font-weight: fw("bold");
  color: color("pog-special-third");
  margin: auto 0;
  padding-left: 25px;
  padding-right: 30px;
}

.rate__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  box-sizing: border-box;
}

.rate__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  min-height: 65px;
}

.rate__number {
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("normal");
  color: color("pog-clear");
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 9px;
  text-align: center;
}

.rate__number--color-special-third {
  background-color: color("pog-special-third");
}

.rate__number--color-special-second {
  background-color: color("pog-special-second");
}

.rate__number--color-special-first {
  background-color: color("pog-special-first");
}

.rate__option-wrapper {
  color: color("pog-special");
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("light");
  margin: auto 0;
  padding: 0;
}

.rate__option-one {
  margin: 0;
  margin-bottom: 5px;
}

.rate__option-two {
  margin: 0;
}

.rate__show-business {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 25px;
  color: color("pog-third");
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("bold");
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    transition: all 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.3s;
  }
}
