.sequence {
  background-color: color("pog-main");
  height: min-content;
  margin: 0;
  position: relative;
  z-index: 1;
}

.sequence--back {
  background-image: url("../img/sequence/globe-back-mob@1x.jpg");
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: center top;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .sequence--back {
    background-image: url("../img/sequence/globe-back-mob@2x.jpg");
    background-size: 640px auto;
  }
}

.sequence__ave {
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    width: 192px;
    height: 255px;
    bottom: 20px;
    left: 80px;
    background-image: url("../img/sequence/traveller-illustration-mob@1x.png");
    background-repeat: no-repeat;
    z-index: 50;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .sequence__ave::before {
      background-image: url("../img/sequence/traveller-illustration-mob@2x.png");
      background-size: 384px auto;
    }
  }
}

.sequence__title {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-size: fs("big");
  font-weight: fw("bold");
  margin-top: 96px;
  margin-bottom: 244px;
  padding: 0 16px;
  color: color("pog-clear");
}

.sequence__text-wrapper {
  margin: -50px 0 0;
  padding: 50px 85px 109px 50px;


  @include bg-color(color("pog-main", 0));
  background-color: color("pog-main");
}

.sequence__text-type-one {
  margin-bottom: 18px;
}

.sequence__detail {
  background-color: color("pog-first");
  padding: 28px 0 40px;
}

.sequence__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: -80px;
  padding: 0 25px;
}

.sequence__item {
  display: flex;
  justify-content: space-between;
  padding: 22px 21px 22px 24px;
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: fs("mob-medium");
  line-height: lh("small");
  font-weight: fw("bold");

  &:not(:last-child) {
    min-height: 100px;
  }

  &:not(:first-child) {
    margin-top: -20px;
  }
}

.sequence__item--color-special-third {
  background-color: color("pog-special-third");
}

.sequence__item--color-special-secondark {
  background-color: color("pog-special-secondark");
}

.sequence__item--color-special-second {
  background-color: color("pog-special-second");
}

.sequence__item--color-special-first {
  background-color: color("pog-special-first");
}

.sequence__step {
  color: color("pog-clear");
  margin: 0;
}

.sequence__step-text {
  color: color("pog-main");
  margin: 0;
  max-width: 140px;
}

@media (min-width: $tablet) {
  .sequence {
    background-color: color("pog-first");
  }

  .sequence--back {
    background-image: url("../img/sequence/globe-back-tab@1x.jpg");
    background-size: 768px 612px;
    background-position: center bottom 236px;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .sequence--back {
      background-image: url("../img/sequence/globe-back-tab@2x.jpg");
      background-size: 1536px auto;
    }
  }

  .sequence__detail {
    padding: 0 40px 96px;
    background-color: transparent;
  }

  .sequence__text-wrapper {
    margin: 0 0 212px;
    padding: 0 35px;
    max-width: 270px;
    background-color: transparent;
  }

  .sequence__title {
    font-size: fs("wery-big");
    line-height: lh("very-giant");
    margin-top: 163px;
    margin-bottom: 86px;
    padding: 0 16px;
  }

  .sequence__text-type-one {
    margin-bottom: 45px;
  }

  .sequence__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .sequence__item {
    height: 140px;
    padding: 31px 33px 21px;
    border-radius: 0;
    font-size: fs("medium");
    line-height: lh("medium-plus");
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-left: -41px;
      width: 344px;
    }

    &:nth-child(odd) {
      width: 385px;
    }
  }

  .sequence__step-text {
    max-width: 190px;
  }

  .sequence__step {
    font-size: fs("very-large");
    line-height: lh("wery-large");
  }

  .sequence__item--color-special-third {
    border-radius: 20px 0 0 0;
  }

  .sequence__item--color-special-secondark {
    border-radius: 20px 20px 0 0;
  }

  .sequence__item--color-special-second {
    border-radius: 0 0 0 20px;
  }

  .sequence__item--color-special-first {
    border-radius: 0 0 20px 20px;
  }

  .sequence__ave {
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    &::before {
      width: 372px;
      height: 451px;
      top: auto;
      bottom: -395px;
      left: auto;
      right: 111px;
      background-image: url("../img/sequence/traveller-illustration-tab@1x.png");
      background-repeat: no-repeat;
      z-index: 10;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .sequence__ave::before {
        background-image: url("../img/sequence/traveller-illustration-tab@2x.png");
        background-size: 744px auto;
      }
    }

    & .sequence__interaction-item {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .sequence {
    background-color: color("pog-first");
  }

  .sequence--back {
    background-image: url("../img/sequence/globe-back-desk@1x.png");
    background-size: 1440px 750px;
    background-position: center top;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .sequence--back {
      background-image: url("../img/sequence/globe-back-desk@2x.png");
      background-size: 2880px auto;
    }
  }

  .sequence .wrapper {
    padding: 220px 0 0;
  }

  .sequence__detail {
    padding: 0 60px 123px;
  }

  .sequence__text-wrapper {
    margin: 0 23px 116px auto;
    padding: 0;
    max-width: 270px;
  }

  .sequence__title {
    font-size: fs("wery-big");
    line-height: lh("very-giant");
    margin: 0;
    padding: 0;
    text-align: start;
    left: 127px;
    top: -12px;
    max-width: 500px;
    position: absolute;
  }

  .sequence__text-type-one {
    margin-bottom: 45px;
  }

  .sequence__list {
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;
    position: relative;
  }

  .sequence__item {
    height: 107px;
    padding: 31px 33px 21px;
    border-radius: 0;
    font-size: fs("medium");
    line-height: lh("medium-plus");
    flex-direction: row;

    &:nth-child(even) {
      margin-left: 0;
      width: 0;
    }

    &:nth-child(odd) {
      width: 0;
    }

    &:not(:first-child) {
      margin-top: 0;
      margin-left: -30px;
    }

    &:not(:last-child) {
      padding-right: 66px;
    }
  }

  .sequence__step-text {
    max-width: 190px;
  }

  .sequence__step {
    font-size: fs("medium");
    line-height: lh("medium-plus");
  }

  .sequence__item--color-special-third,
  .sequence__item--color-special-secondark,
  .sequence__item--color-special-second {
    border-radius: 20px 0 0 20px;
    min-width: 375px;
  }

  .sequence__item--color-special-third {
    min-width: 345px;
  }

  .sequence__item--color-special-first {
    border-radius: 20px;
    min-width: 315px;
  }

  .sequence__ave {
    padding: 0;
    width: 100%;

    &::before {
      width: 431px;
      height: 640px;
      top: -110px;
      bottom: auto;
      left: auto;
      right: 405px;
      background-image: url("../img/sequence/traveller-illustration-desk@1x.png");
      background-repeat: no-repeat;
      z-index: 0;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .sequence__ave::before {
        background-image: url("../img/sequence/traveller-illustration-tab@2x.png");
        background-size: 744px auto;
      }
    }
  }
}
