.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;

  &:hover .show-more__image {
    opacity: 0.6;
    transition: all 0.3s;
  }

  &:active .show-more__image {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.show-more__image {
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  stroke: color("pog-second");
}

.show-more__text {
  font-size: fs("mob-basic-plus");
  line-height: lh("wery-large");
  font-weight: fw("bold");
  color: color("pog-second");
  cursor: pointer;
  margin-left: 15px;
  text-transform: uppercase;
  padding-top: 5px;
}

.show-more__navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-more__pagination-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.show-more__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 46px;
}

.show-more__button {
  width: 50%;
  height: 50px;
  background-color: color("pog-clear");
  padding: 0;
  position: relative;

  &:hover::after {
    opacity: 0.6;
    transition: all 0.3s;
  }

  &:active::after {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.show-more__button--back {
  font-size: 0;
  line-height: 0;
  border-radius: 20px 0 0 20px;
  border-right: 1px solid color("pog-back-light ");

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -5px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid color("pog-second");
  }
}

.show-more__button--next {
  font-size: 0;
  line-height: 0;
  border-radius: 0 20px 20px 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -5px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid color("pog-second");
  }
}

@media (min-width: $tablet) {
  .show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 51px;

    &:hover .show-more__image {
      opacity: 0.6;
      transition: all 0.3s;
    }

    &:active .show-more__image {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }

  .show-more__text {
    font-size: fs("basic");
    line-height: lh("basic");
    cursor: pointer;
    margin-left: 15px;
    text-transform: uppercase;
    padding-top: 3px;
  }

  .show-more__image {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .show-more__navigate {
    background-color: color("pog-clear");
    border-radius: 20px;
  }

  .show-more__pagination-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 28px 28px 22px;
  }

  .show-more__pagination-item--selected {
    background-color: color("pog-special-first");
    border-radius: 50%;
  }

  .show-more__pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    text-decoration: none;
    font-size: fs("basic");
    line-height: lh("small");
    font-weight: fw("bold");
    color: color("pog-second");

    &:hover {
      opacity: 0.6;
      transition: all 0.3s;
    }

    &:active {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }

  .show-more__button-wrapper {
    margin: 0;
    margin-right: 20px;
    width: auto;
  }

  .show-more__button {
    width: 42px;
    height: 50px;
  }

  .show-more__button--back {
    border: none;
  }
}

@media (min-width: $desktop) {
  .show-more {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 10px;
    padding-right: 70px;
  }

  .show-more__image {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .show-more__navigate {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .show-more__button-wrapper {
    margin-right: 25px;
  }

  .show-more__button {
    width: 45px;
  }
}
