.tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 25px;
}

.tags__title {
  position: absolute;
  top: -7px;
  margin: 0;
  padding: 0 20px;
  background-color: color("pog-back-light");
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("bold");
  text-transform: uppercase;
  color: color("pog-second");
}

.tags__list-wrapper {
  width: 270px;
  margin: 0 auto;
}

.tags__list {
  list-style: none;
  margin: 0;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  border: solid 1px color("pog-extra-four");
  border-radius: 10px;
}

.tags__link {
  text-decoration: none;
  color: color("pog-special");
  margin-right: 5px;
  opacity: 0.6;
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("normal");
}

@media (min-width: $tablet) {
  .tags {
    margin: 0;
  }

  .tags__title {
    top: auto;
    bottom: -12px;
    margin: 0;
    padding: 0 20px;
    font-size: fs("basic");
    line-height: lh("basic");
    font-weight: fw("medium");
    letter-spacing: 0.1em;
  }

  .tags__list-wrapper {
    width: 100%;
    margin: 0;
  }

  .tags__list {
    list-style: none;
    margin: 0;
    padding: 35px 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    border: solid 1px color("pog-extra-four");
    border-radius: 10px;
  }

  .tags__link {
    margin-right: 6px;
    font-size: fs("basic");
    line-height: lh("medium");
  }
}


@media (min-width: $desktop) {
  .tags {
    margin: 0;
    align-items: flex-start;
  }

  .tags__title {
    left: 19px;
    letter-spacing: 0.08em;
  }

  .tags__list-wrapper {
    width: 100%;
    margin: 0;
  }

  .tags__list {
    padding: 34px 38px;
  }
}
