.tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 25px;
}

.tags__title {
  position: absolute;
  top: -7px;
  margin: 0;
  padding: 0 20px;
  background-color: color("pog-back-light");
  font-size: fs("mob-basic");
  line-height: lh("small");
  font-weight: fw("bold");
  text-transform: uppercase;
  color: color("pog-second");
}

.tags__area {
  width: 270px;
  height: auto;
  padding: 25px;
  font-family: inherit;
  font-size: fs("mob-basic");
  font-weight: fw("normal");
  line-height: lh("small");
  text-align: left;
  color: color("pog-special-transparent");
  border-radius: 10px;
  border: solid 1px color("pog-extra-four");
  background-color: transparent;
  resize: none;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.6;
  }

  &:hover {
    border: solid 1px color("pog-extra-dark");
    transition: all 0.3s;
  }

  &:active,
  &:focus {
    border: solid 1px color("pog-main");
    outline: none;
    transition: all 0.3s;
    color: color("pog-special");
  }
}

@media (min-width: $tablet) {
  .tags {
    margin: 0;
  }

  .tags__title {
    top: auto;
    bottom: -12px;
    margin: 0;
    padding: 0 20px;
    font-size: fs("basic");
    line-height: lh("basic");
    font-weight: fw("medium");
    letter-spacing: 0.1em;
  }

  .tags__area {
    width: 100%;
    margin: 0;
    font-size: fs("basic");
    line-height: lh("medium");
    padding: 35px 40px 15px;
  }
}


@media (min-width: $desktop) {
  .tags {
    margin: 0;
    align-items: flex-start;
  }

  .tags__title {
    left: 19px;
    letter-spacing: 0.08em;
  }
}
