.transport {
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-sizing: border-box;
}

.transport--param {
  display: block;
  width: 23px;
  height: 23px;
  fill: color("pog-second");
}

.transport--off {
  opacity: 0.15;
}

.transport__lining {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.transport--my-transport {
  display: block;
  width: 25px;
  height: 25px;
  fill: color("pog-second");
}

.transport--no-bg {
  background-color: transparent;
}

.transport--bg-clear {
  background-color: color("pog-clear");
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport__title {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 20px;
  height: 56px;
  font-size: fs("basic");
  line-height: lh("basic");
  font-weight: fw("normal");
  color: color("pog-clear");
  border-radius: 4px;
  background-color: color("pog-first");
  position: absolute;
  bottom: -65px;
  z-index: 1;
  white-space: nowrap;
  transform: translate(-6%);

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 1;
    border-bottom: 8px solid color("pog-first");
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.profile__transport-item:hover .transport__title {
  display: flex;
}
