$colors : (
  pog-main :#161c35,
  pog-back-decorate: #141b3b,
  pog-back-light : #edeff6,
  pog-first : #192144,
  pog-second :#1d2e5b,
  pog-third: #132576,
  pog-extra :#dfe3f0,
  pog-extra-second : #d1d7e9,
  pog-extra-third : #dfe3f0,
  pog-extra-four : #cbced9,
  pog-extra-five : #d4d9eb,
  pog-extra-six : #d6d9e6,
  pog-extra-plus : #d6daed,
  pog-extra-cloud : #c8cee8,
  pog-extra-dark: #959bb2,
  pog-extra-light : #cccccc,
  pog-special-first :#ffd74b,
  pog-special-second :#ffbd30,
  pog-special-secondark : #ffa530,
  pog-special-third :#ff8d30,
  pog-special-third-hover : #f26926,
  pog-special-four : #ff5c23,
  pog-special-muddy : #f3c72b,
  pog-special-muddy-dark : #d3b656,
  pog-special :#444444,
  pog-special-lighter: #e1e3e9,
  pog-special-plus: #e2e5f2,
  pog-clear: #ffffff,
  pog-standart: #000000,
  pog-status-off: #f97676,
  pog-status-on: #81e31e,
  pog-soft: #f9eaea,
  pog-like: #f02323,
  pog-grad :rgba(255, 255, 255, 0),
  pog-shadow-fourth :rgba(0, 0, 0, 0.25),
);

@function color($name, $ascss:1) {
  @if $ascss == 1 {
    @return var(--color-#{unquote($name)});
  }
  @else {
    @return map-get($colors, $name);
  }
}

$font-weights : (
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700
);

@function fw($name, $ascss:1) {
  @if $ascss == 1 {
    @return var(--font-weight-#{unquote($name)});
  }
  @else {
    @return map-get($font-weights, $name);
  }
}

$font-sizes : (
  mob-small : 14px,
  mob-basic : 16px,
  mob-basic-plus : 17px,
  mob-medium : 18px,
  basic : 20px,
  basic-plus : 21px,
  medium : 24px,
  large : 28px,
  very-large: 30px,
  big: 36px,
  very-big : 45px,
  wery-big: 60px
);

@function fs($name, $ascss:1) {
  @if $ascss == 1 {
    @return var(--font-size-#{unquote($name)});
  }
  @else {
    @return map-get($font-sizes, $name);
  }
}

$line-heights: (
small: 18px,
basic: 20px,
basic-plus: 21px,
medium: 22px,
medium-plus: 24px,
large: 25px,
very-large: 28px,
wery-large: 30px,
big: 32px,
bigger: 33px,
very-big: 34px,
wery-big: 35px,
more-big: 40px,
giant: 45px,
very-giant: 70px,
wery-giant: 71px
);

@function lh($name, $ascss:1) {
  @if $ascss == 1 {
    @return var(--line-height-#{unquote($name)});
  }
  @else {
    @return map-get($line-heights, $name);
  }
}

:root {
  /*цвета*/
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }
  /*размер шрифта*/
  @each $key, $value in $font-sizes {
    --font-size-#{$key}: #{$value};
  }
  /*вес шрифта*/
  @each $key, $value in $font-weights {
    --font-weight-#{$key}: #{$value};
  }
  /*интервал*/
  @each $key, $value in $line-heights {
    --line-height-#{$key}: #{$value};
  }
}

@mixin mob-text-type1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

@mixin mob-text-type2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

@mixin mob-text-type1-td {
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
}

@mixin mob-text-type2-td {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}

@mixin level-type1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

@mixin level-type2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

@mixin bg-color($color) {
  background-color: $color;
}

@mixin bg-color($color) {
  @if  (lightness($color) >= 50%) {
    color: color("pog-special");
  }
  @else {
    color: color("pog-clear");
  }
}

$tablet: 768px;

$desktop: 1440px;
